@charset "UTF-8";
* {
 margin: 0;
 padding: 0;
}
table {
 border-collapse: collapse;
}


td, th {
 padding: 5px 10px;
}
img {
max-width: 150px; 
max-height: 190px;
}
header {
 background-color: #336633;
}
h1 {
 color: #ffffff;
 padding-top: 20px;
 padding-bottom: 10px;
 text-align: center;
}
main {
 width: 600px;
 margin: 20px auto;
}
.buttonArea {
 margin-top: 10px;
 margin-bottom: 10px;
}
.gazoulist{
display: grid; /* グリッドビューにする宣言 */
grid-template-columns: repeat(4, 1fr); /* 横並びで４回繰り返し、均等幅 */
row-gap: 2px; /* 行と行の間隔を２ピクセルにする */
column-gap: 2px;
padding: 10px; 
}
.gazou{
	border: solid 1px #000000;
	padding: 10px;
	background-color: white;
}

