@charset "UTF-8";
* {
 margin: 0;
 padding: 0;
}
table {
 border-collapse: collapse;
}


td, th {
 padding: 5px 10px;
}
img {
max-width: 9999px; 
max-height: 190px;
}
header {
 background-color: #336633;
}
h1 {
 color: #ffffff;
 padding-top: 20px;
 padding-bottom: 10px;
 text-align: center;
}
main {
 width: 600px;
 margin: 20px auto;
}
.buttonArea {
 margin-top: 10px;
 margin-bottom: 10px;
}
.gazoulist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px;
    max-width: 800px; /* 全体の幅を制御 */
    margin: 0 auto;
}

.gazou {
    border: 1px solid #aaa;
    padding: 10px;
    background-color: white;
    text-align: center; /* 画像を中央に */
    box-sizing: border-box;
}

.gazou img {
    max-width: 190px;
    max-height: 150px;
}

